<app-header [title]="title" [showLanguage]="false" [showBack]="false"></app-header>

<ion-content>

  <ion-card>
    <form [formGroup]="playerForm" (submit)="onSubmit()">

      <ion-item>
        <ion-label class="formlabel">{{'player.firstname' | translate}}</ion-label>
        <ion-input class="ion-text-right" type="text" formControlName="firstname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.lastname' | translate}}</ion-label>
        <ion-input class="ion-text-right" type="text" formControlName="lastname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.nickname' | translate}}</ion-label>
        <ion-input class="ion-text-right" type="text" formControlName="nickname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.age' | translate}}</ion-label>
        <ion-input class="ion-text-right" type="number" formControlName="age"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.mainPosition' | translate}}</ion-label>
        <ion-select formControlName="mainPosition" interface="action-sheet">
          <ion-select-option value="position.goalkeeper">{{ 'position.goalkeeper' | translate}}</ion-select-option>
          <ion-select-option value="position.defense">{{ 'position.defense' | translate}}</ion-select-option>
          <ion-select-option value="position.midfilder">{{ 'position.midfilder' | translate}}</ion-select-option>
          <ion-select-option value="position.forward">{{ 'position.forward' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.secondPosition' | translate}}</ion-label>
        <ion-select formControlName="secondPosition" interface="action-sheet">
          <ion-select-option value="position.goalkeeper">{{ 'position.goalkeeper' | translate}}</ion-select-option>
          <ion-select-option value="position.defense">{{ 'position.defense' | translate}}</ion-select-option>
          <ion-select-option value="position.midfilder">{{ 'position.midfilder' | translate}}</ion-select-option>
          <ion-select-option value="position.forward">{{ 'position.forward' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.leg' | translate}}</ion-label>
        <ion-select formControlName="leg" interface="action-sheet">
          <ion-select-option value="leg.right">{{ 'leg.right' | translate}}</ion-select-option>
          <ion-select-option value="leg.left">{{ 'leg.left' | translate}}</ion-select-option>
          <ion-select-option value="leg.noLeg">{{ 'leg.noLeg' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.status' | translate}}</ion-label>
        <ion-select formControlName="status" interface="action-sheet">
          <ion-select-option value="status.legend">{{ 'status.legend' | translate}}</ion-select-option>
          <ion-select-option value="status.star">{{ 'status.star' | translate}}</ion-select-option>
          <ion-select-option value="status.promise">{{ 'status.promise' | translate}}</ion-select-option>
          <ion-select-option value="status.noob">{{ 'status.noob' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label class="formlabel">{{'player.active' | translate}}</ion-label>
        <ion-checkbox color="dark" formControlName="active"></ion-checkbox>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="warning" type="button" (click)="close()">{{'close' | translate}}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="success" type="submit" [disabled]="!playerForm.valid">
              {{'save' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>
  </ion-card>
</ion-content>